
html {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 780px;
  margin: 20px auto;

  &:last-child {
    margin-bottom: 0;
  }

  & > * {
    margin-bottom: 20px;
  }
}




@media (max-width: 576px) {
  .buttons > *:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .buttons > * {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .buttons > *:first-child {
    margin-left: 0;
  }
}

.custom-elements-example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 15px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin: 20px 0;
  color: #3b8070;
}

a {
  color: #3b8070;
}

.button-grey {
  padding: 10px 30px;
  color: #35495e;
  text-decoration: none;
  border: 1px solid #35495e;
  border-radius: 4px;
}

.button-grey:hover {
  color: #fff;
  background-color: #35495e;
}

.custom-elements-example-fieldset {
  width: 100%;
  max-width: 640px;
  padding: 30px;
  padding-top: 0;
  color: #3b8070;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAChJREFUeNpi/P//PwM6OHv2HIYgEwORYAAVsmBzuLGxEeNQ9AxAgAEAG1wKejjL7dsAAAAASUVORK5CYII=');
  border: 1px solid #3b8070;
  border-radius: 4px;
}

.custom-elements-example-fieldset legend {
  padding: 5px 15px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: #3b8070;
  border: 1px solid #3b8070;
  border-radius: 4px;
}

.preview-links {
  display: flex;

  &  > * {
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.preview-links > *,
.back-link {
  display: flex;
  padding: calc(15 / 414 * 100vw) calc(10 / 414 * 100vw);
  font-size: calc(15 / 414 * 100vw);
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  background: #3b8070;
}

.preview-links,
.back-link {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 576px) {
  .preview-links > *,
  .back-link {
    padding: 20px 15px;
    font-size: 16px;
  }
}

.back-link {
  top: 0;
  bottom: auto;
  text-align: left;
  background: #35495e;
}

.preview-links > * > img,
.back-link > img {
  display: inline-block;
  width: calc(18 / 16 * 1em);
  margin-right: calc(5 / 16 * 1em);
  vertical-align: bottom;
}

[class*="button-"] {
  display: inline-flex;
  align-items: center;
  background: #fff;
}

[class*="button-"] .icon {
  display: flex;
  width: 16px;
  margin-right: 5px;
}

[class*="button-"] .icon img {
  width: 100%;
}

.button-green {
  padding: 10px 30px;
  color: #3b8070;
  text-decoration: none;
  border: 1px solid #3b8070;
  border-radius: 4px;
}

.button-green:hover {
  color: #fff;
  background-color: #3b8070;
}

.frame-preview {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.frame-preview > iframe {
  flex: 1;
  width: 100%;
  height: 100vh;
  border: none;
}

@media (min-width: 1024px) {
  .frame-preview {
    flex-direction: row;
  }

  .frame-preview > iframe {
    height: auto;
  }
}
